$def with(productos)
<table class="border-collapse border-table text-[1rem] tracking-[1px]">
    <thead class="bg-[#e4f0f5]">
        <tr>
            <th scope="col" class="border_thd">Nombre</th>
            <th scope="col" class="border_thd">Descripción</th>
            <th scope="col" class="border_thd">Precio</th>
            <th scope="col" class="border_thd">Existencia</th>
            <th scope="col" class="border_thd">Opciones</th>
        </tr>
    </thead>
<tbody>
    $for campo in productos:
    <tr>
        <th scope="row" class="border_thd">$campo['nombre']</th>
        <td class="border_thd">$campo['descripción']</td>
            <td class="border_thd">$campo['precio']</td>
            <td class="border_thd">$campo['existencias']</td>
            <td class="border_thd">
                <span>
                    <a href="/borrar" class="text-[#265301] outline-none no-underline pr-[1px] py-[2px] pb-[0]
                    hover:border hover:bg-[#cdfeaa] visited:text-[#437a16] focus:border focus:bg-[#bae498]
                    active:bg-[#265301] active:text-[#cdfeaa]">Borrar</a>
                </span>
                <span>
                    <a href="/actualizar" class="text-[#265301] outline-none no-underline pr-[1px] py-[2px] pb-[0]
                    hover:border hover:bg-[#cdfeaa] visited:text-[#437a16] focus:border focus:bg-[#bae498]
                    active:bg-[#265301] active:text-[#cdfeaa]">Actualizar</a>
                </span>
                <span>
                    <a href="/detalle" class="text-[#265301] outline-none no-underline pr-[1px] py-[2px] pb-[0]
                    hover:border hover:bg-[#cdfeaa] visited:text-[#437a16] focus:border focus:bg-[#bae498]
                    active:bg-[#265301] active:text-[#cdfeaa]">Insertar</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
